{% extends 'core/base.html' %}

{% block title %} Contacto {% endblock %}

{% block image-header %} contact {% endblock %} imagen-fondo">

{% block title-header %} 
<div>
  <h1 class="display-4 fw-bold">Contacto</h1>
</div>
<div>
  <h3 class="fs-2">Asesoría personal</h3>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-8 col-md-10 mx-auto">
    <p>"¡Me encantaría saber de ti!" </p> 
    <p>Si tienes alguna idea o proyecto en mente, 
    no dudes en compartirlo conmigo. Estoy siempre abierto a nuevas oportunidades de colaboración</p>
    
    <br>
    <p><b>Teléfono:</b> +543492598542</p>
    <p><b>Honorario:</b> A convenir de cada proyecto</p>
  </div>
</div>

{% endblock %}