{% extends 'core/base.html' %}

{% block title %} Inicio {% endblock %}

{% block image-header %} home {% endblock %} imagen-fondo">

{% block title-header %} 
<div>
    <h1 class="display-2 fw-bold">Joaquin villalba</h1>
</div>
<div>
    <h5 class="fs-4">Estudiante mecatronica/programacion</h5>
</div>
{% endblock %}

{% block content %}
<h3 class="fw-lighter fst-italic px-6"> ¡Bienvenido a mi mundo tecnológico! Soy , un apasionado estudiante de la Universidad UNRAF. 
    Aquí encontrarás mi trayectoria, proyectos innovadores y mi dedicación a explorar las infinitas posibilidades que ofrece la unión entre la mecatrónica , la programación y distintas  innovaciones tecnológicas.
    ¡Acompáñame en este viaje hacia el futuro!  </h3>

{% endblock %}